.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: bisque;
}

.header {
    text-align: center;
    padding: 20px
}

.temp {
    margin: 10px;
}

.cold {
    background-color: aliceblue;
}

.warm {
    background-color: orange;
}

.temp-display.cold i {
    color: blue;
}

.temp-display.warm i {
    color: red;
}

.icon-left {
    position:absolute;
    top: 10px;
    left: 10px
}

.icon-right {
    position:absolute;
    bottom: 10px;
    right: 10px;
}

.temp {
    margin: 2px 10px 10px;
    border-radius: 12px;
    text-align: center;
    padding: 8px;
    border: 1px solid;
    width: 100px;
}

select {
    margin: 2px 5px 5px; 
    padding: 8px;
    border-radius: 12px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 8px 15px; 
    border: none;
    border-radius: 15px;
    outline: none;
    transition-duration: 0.4s;
    text-align: center;
    background-color: rgb(43, 99, 239);
    color: white;
    cursor: pointer
}

.button:hover {
    background-color: rgb(15, 146, 63);
}

.button:active {
    transform: translateY(4px);
  }