.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(240, 180, 106, 0.924);
}


.header {
    text-align: center;
    padding: 1px;
    background-color: bisque;
}

h1 {
    margin: 30px
}


.temp {
    margin: 2px 10px 10px;
    border-radius: 12px;
    text-align: center;
    padding: 8px;
    border: 1px solid;
    width: 100px;
}

select {
    margin: 2px 5px 5px; 
    padding: 8px;
    border-radius: 12px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 8px 15px; 
    border: none;
    border-radius: 15px;
    outline: none;
    transition-duration: 0.4s;
    text-align: center;
    background-color: rgb(43, 99, 239);
    color: white;
    cursor: pointer
}

.button:hover {
    background-color:  rgb(60, 187, 230);
}

.button:active {
    transform: translateY(4px);
  }

.refresh-button {
    margin: 5px;
    padding: 7px 10px; 
    border: none;
    border-radius: 15px;
    outline: none;
    transition-duration: 0.4s;
    text-align: center;
    background-color: rgb(83, 146, 83);
    color: white;
    cursor: pointer
}

.refresh-button:hover {
    background-color:  rgb(11, 187, 76);
}

.refresh-button:active {
    transform: translateY(4px);
  }
