.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    /* background-color: bisque; */
}

.header {
    text-align: center;
}

.temp {
    margin: 10px;
}

.cold {
    background-color: aliceblue;
}

.warm {
    background-color: orange;
}

.temp-display.cold i {
    color: blue;
}

.temp-display.warm i {
    color: red;
}

.icon-left {
    position:absolute;
    top: 10px;
    left: 10px
}

.icon-right {
    position:absolute;
    bottom: 10px;
    right: 10px;
}
